.passwordIcon{
    font-size: 1.6rem ;
    position: fixed ;
    right: 20px;
    top: 203px;
    margin: 2px ;
 }

.user{
    margin: 8px;
}

.pass{
    margin: 8px;
}


.Ingresar{
    margin:20px;
}

.recuperarContra{
    margin: 8px;
    
}

.btn-google{
    margin-top: 20px;
    margin-left: 80px;
}

.btn-git{
    margin-left: 50px;
    margin-top: 20px;
}
